

/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    background-color: #fff;
    font-size: 1rem;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;

}
a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.clear {
    clear: both;
}

img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control {
    display: inline-block;
    width: 60%;
    height: 35px;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #182e4c;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #5e9a28;
}

h1,
h2,
h3 {
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 4.375rem;
    line-height: 5.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#fff;
}
h2 {
    font-size:2.5rem;
    line-height: 3rem;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
h3 {
    font-size:1.875rem;
    line-height: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom:35px;
    text-transform: uppercase;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
}
h5 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color:#223d61;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.375rem;
    font-size: 0.875rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    /*font-family: 'roboto', sans-serif;*/
}
.text {
    color: #333333;
}
.colorstext {
    color: #5e9a28;
}
.coloricon i {
    color: #5e9a28;
}
.colorsbg {
    background: #5e9a28;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.outofsectiontext{
    margin-top: 40px;
}

/*
Section
*/
.sections {
    padding-top:85px;
    padding-bottom: 105px;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}

.heading {
    margin-bottom: 4rem;
}
.overlay {
    background-color: rgba(0, 0, 0, .55);
    width: 100%;
    height: 750px;
}
.home-overlay {
    background-color: rgba(94, 154, 40, 0.7);
    width: 100%;
    height:auto;
}
.home-overlay-fluid {
    background-color: rgba(41, 41, 41, 0.68);
    width: 80%;
    margin: auto;
}
.overlay-img {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}
.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 10px;
    width: 127px;
    margin: 20px auto;
    background: url(../images/separator.png) no-repeat;
}
.whiseparator {
    height: 10px;
    width: 127px;
    margin: 20px auto;
    background: url(../images/whiseparator.png) no-repeat;
}
.separator2 {
    height: 2px;
    width: 200px;
    margin:20px 0px;
    background: #AB987A;
}
.separator3 {
    height: 2px;
    width: 30px;
    margin:20px auto;
    background: #5e9a28;
}
.separator4 {
    height: 2px;
    width: 30px;
    margin:20px 0px;
    background: #5e9a28;
}
/*section:nth-of-type(odd) {
    background-color: #F9F9F9;
}*/
/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #5e9a28;
    border-color: #5e9a28;
}



.btn {
    display: inline-block;
    min-width: 230px;
    padding: .4em;
    height: 45px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    font-size: 20px;
    border-radius: 40px;
    margin-top: 20px;
    background-color: transparent;
    transition: .5s; 
    border:0px;

}
.btn:hover {
    background-color:#6bb42a;
    color: #fff;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #639d2f;
    border-color: #fff;
    transition: .5s;	
}

.btn_news_color{
    color:#5e9a28;
    border-color: #5e9a28;
}

.btn-md{
    border:1px solid #5e9a28;
    color:#5e9a28;
}


.btn-larg{
    border: 1px solid #fff;
    color:#fff;
    padding: 6px 30px;
}





/*.btn-default:active, .btn-default:hover  {
    background: transparent;
}*/


/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #5e9a28;
    font-weight: 400;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
    color: #3bd3ba;
}
input::-moz-placeholder {
    color: #3bd3ba;
}
input::-ms-input-placeholder {
    color: #3bd3ba;
}

/*for image bg*/


/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
  background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/
/* navbar section */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:rgba(34, 61, 97, 0.64);
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    height: 75px;

}


.main_menu_bg{
    margin-top: 0px;
    background-color: transparent;
}
.main_menu_bg .navbar-default {
    background-color: transparent; 
    border-color: transparent; 
    transition: all .6s;
    margin: 15px auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#f6c23a;
}
.main_menu_bg .navbar {}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #f6c23a;
    background: url(../images/selectmenu.png) no-repeat bottom center;
    padding-bottom: 20px;

}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #fff;
}
.navbar-brand>img {
    max-width: 80%;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color:transparent;
    color:#f5c239;

}

.dropdown-menu {
    min-width: 160px;
    padding: 0px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    border: 0px solid #ccc; 
    border: 0px solid rgba(0,0,0,.15); 
    border-radius: 0px; 
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175); 
    box-shadow: 0 0px 0px 
}

.dropdown-menu .navbar-form .form-group input[type="text"]{
    background-color:rgba(34, 61, 97, 0.68);
    border: 1px solid #f5c239;
    color:#f5c239;
    width: 300px;
}
.dropdown-menu .navbar-form .form-group .form-control::-webkit-input-placeholder{
    color: #f5c239;
    opacity: 1; 
}
.dropdown-menu .navbar-form {
    margin-right: -30px;
}

.form-control::-moz-placeholder{
    color: #5e9a28;
    opacity: 1;
}
.form-control:-moz-placeholder{
    color: #5e9a28;
    opacity: 1;  
}  
.form-control::-webkit-input-placeholder{
    color: #5e9a28;
    opacity: 1; 
} 
.form-control:-ms-input-placeholder{
    color: #5e9a28;
    opacity: 1; 
}

/*home section*/
.home{
    background: url(../images/homebg.jpg) no-repeat 100% 100%;
    background-size: cover;
}

.home .main_home{
    padding-top: 250px;
}

.home .main_home h1{
    color: #fff;
    padding-bottom: 25px;
    width: 85%;
}
.home .main_home p.subtitle{
    color: #5e9a28;
    padding-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:2.5rem;
    text-transform: uppercase;
}

.home .main_home .video_play_icon a{
    width:175px;
    height:125px;
    background: #032F3E;
    display: inline-block;
    text-align: center;
    line-height: 140px;

}

.home .main_home .video_play_icon a i{
    color:#fff;
    border:2px solid #fff;
    padding: 10px;
    font-size:30px;
    border-radius: 50%;


}

.home .owl-theme .owl-nav {
    margin-top: 80px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot span {
    background: #639d2f;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f5c239;
}




/*service section css*/

.head_title{
    margin-bottom:60px;
}
.head_title h2{
    font-size:1.625rem;
    color:#223d61;
}
.head_title p{
    font-size:1rem;
    color:#223d61;
}

.service_border_raund{
    background: url(../images/zigzag.png) repeat-x;
    position: absolute;
    left: 0;
    top: -10px;
    width:100%;
    height: 12px;
}

.service{
    position: relative;
    background: #ffffff;
}
.main_service_area{}
.single_service{
    margin-top:30px;
}
.single_service .single_service_icon{
    margin-bottom: 50px;   
}
.single_service .single_service_icon img{

    height: 70px;
}

.single_service h3{
    color: #223d61;
    font-size: 1.125rem;

}


/*lessons section css*/
.greenbackground{
    background: #5e9a28;
}
.choose{}
.main_choose_area{
    color:#fff;
}

.main_choose_area .lesson_title p{
    color:#f5c239;
    text-transform: uppercase;
    margin-bottom: 90px;
}

.main_choose_area .main_choose_content{}
.main_choose_area .main_choose_content .single_choose_content{} 
.main_choose_area .main_choose_content .single_choose_content h2{
    font-size:1.625rem;
} 
.main_choose_area .main_choose_content .single_choose_content p{
    margin-bottom:100px;
} 
.main_choose_area .main_choose_content .single_choose_content .singel_choose_img img{
    margin-bottom:40px;
} 



/*main_portfolio_content_area*/
.portfolio{}
.main_portfolio{}
.main_portfolio_content_area{}



/* mixitup section */


.main_mixi_content{
    max-height: 900px;

}
.main_mix_menu{
    margin-bottom:50px;
}
.main_mix_menu ul li.btn{
    min-width:150px;
    height:35px;
    padding: .2rem;
    border:1px solid #ddd;
}
.main_mix_menu ul li.btn-primary {
    background-color: transparent;
    transition: .5s;
    color: #223d61;
}
.main_mix_menu ul li.active {
    background: #5e9a28;
    color:#fff;
}



.single_mixi_portfolio{
    position:relative;
    float: left;
    border: 3px solid #fff;
    width:100%;
}
.single_mixi_portfolio img{
    width:100%;
    height: 230px;
}
.single_mixi_portfolio:hover .mixi_portfolio_overlay{
    opacity:1;
}
.mixi_portfolio_overlay{
    background:rgba(236, 228, 217, 0.75);
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    transition:.5s;
    opacity:0;
}
.mixi_portfolio_overlay .overflow_hover_text{
    position: absolute;
    top: 17%;
    left: 13%;
    width: 75%;
}
.mixi_portfolio_overlay .overflow_hover_text i{
    color:#223d61;
    font-size: 40px;
}
.mixi_portfolio_overlay .overflow_hover_text h2{
    color:#223d61;
    font-size:22px;
    margin-bottom: 0px;
}
.mixi_portfolio_overlay .overflow_hover_text p{
    color:#5e9a28;
}


.mixcontent .mix{
    display: none;
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 50% 0;
}

.portfolio_btn_area{
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
    display: inline-block;
}

/*newsletter section css*/
.newsletter{
    background: #223d61;
    color:#fff;
}

.main_newsletter{}
.main_newsletter .single_newsletter_head{}
.main_newsletter .single_sewsletter_content{
    margin-top:80px;
}
.main_newsletter .single_sewsletter_content .form-group{}
.main_newsletter .single_sewsletter_content .form-group input[type="submit"] {
    height: 35px;
    padding: 0.06em 2em;
    min-width: 30%;
    margin-left: 3%;
    margin-top: 0px;
}


/* ABOUT FRUITS section css*/
.about{
    background: #ffffff;
}

.about .main_about{
    position: relative; 
}
.about .main_about_content_area{

}
.about .main_about_content_area .single_about_left_img{
    position: absolute;
    left:0;
    bottom:0;
    width:30%;
}
.about .main_about_content_area .single_about_right_content{}
.about .main_about_content_area .single_about_right_content .right_single_about_skill{
    margin-top: 20px;
    overflow: hidden;
}

.about .main_about_content_area .single_about_right_content .right_single_about_skill .right_about_top_cotent{}
.about .main_about_content_area .single_about_right_content .right_single_about_skill .right_about_top_cotent .right_about_top_img{
    width: 15%;
    float: left;
    margin-top: 40px;
}
.about .main_about_content_area .single_about_right_content .right_single_about_skill .right_about_top_cotent .right_about_top_content{
    width:85%;
    float:left;
}

.about .main_about_content_area .single_about_right_content .right_single_about_skill .right_about_bottom_cotent{
    padding: 20px 0px;
    margin-top:30px;
    oveflow:hidden;
}




/*Blog Section Css*/

.blog .main_blog_area{}
.blog .main_blog_area .main_blog_content{

}
.blog .main_blog_area .main_blog_content ul.main_blog{
    width:100%;
}
.blog .main_blog_area .main_blog_content ul.main_blog li.single_blog_content{
    background: #fff;
    width: 95%;
    border:2px solid #5e9a28;

}
.blog .main_blog_area .main_blog_content ul.main_blog li.single_blog_content h4{
    color:#223d61;
    font-size:1.125rem;

}
.blog .main_blog_area .main_blog_content ul.main_blog li.single_blog_content h6{
    color:#c0bbad;
    font-size:0.875rem;

}
.blog .main_blog_area .main_blog_content ul.main_blog li.single_blog_content p{
    color:#797979;
    font-size:0.875rem;
}
.blog .main_blog_area .main_blog_content ul.main_blog li.single_blog_content p.blog_love{
    color:#5e9a28;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    background: #5e9a28;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #6bb42a;
    color: yellow;
    text-decoration: none;
}





/*testimonia section css*/
.testimonial{
    color:#fff;
}

.main_testimonial{}
.main_testimonial .head_title p{
    color:#f5c239;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 2px;
}

blockquote footer, blockquote small, blockquote .small {
    color: #fff;
}
.carousel-inner .item .impress{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}






/*counter section css*/
.counter{}
.counter .main_counter{}
.counter .main_counter{}
.single_left_counter_bg{
    background: url(../images/cleftbg.png) no-repeat 100% 100%;
    display: inline-block;
    max-width: 500px;
    float: left;
    background-size: cover;
    overflow: hidden;
    padding: 40px 40px 10px 40px;
}
.counter .main_counter .single_counter_left{
    padding-left: 130px;
    color: #fff;
    overflow: hidden;
}
.counter .main_counter .single_counter_left h2{
    width:100%;
}


.counter .single_counter_right_area{}
.counter .single_counter_right_area .single_counter_right{
    margin-top:30px;
    border-bottom: 5px solid #f1eee6;
    padding-bottom: 55px;
}
.counter .single_counter_right_area .single_counter_right i{
    color:#5e9a28;
    font-size:4.0625rem;
    margin-bottom:40px;
}
.counter .single_counter_right_area .single_counter_right h2{
    color:#223d61;
    margin-bottom:30px;
    line-height: 0;
}
.counter .single_counter_right_area .single_counter_right p{
    color:#223d61;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}




/*footer widget*/

.footer_widget{
    background: #f1eee6;
    color:#223d61;
}
.footer_widget .main_widget{
    padding: 55px 15px 80px 15px; 
    overflow: hidden;
}
.footer_title_left{
    margin-bottom:70px;
}

.footer_logo{
    margin-bottom: 20px;
}
.footer_widget p.footer_title{
    margin-bottom:20px;
    font-size:0.8125rem;
    color:#f6f7fa;
}
.footer_widget p{
    color:#797979;
    font-size:0.875rem;
    max-width: 80%;
    line-height: 1.325rem;
}

.single_widget li.single_latest_news{
    margin-bottom: 20px;
}
.single_widget li.single_latest_news p{
    line-height: 1.125rem;
    margin-bottom:5px;
}
.single_widget li.single_latest_news p.latest_date{
    color:#223d61;
}

.single_widget li{
    margin-bottom: 3px;
}
.single_widget li a{
    color: #223d61;
    font-size: 0.8125rem;
    padding-bottom: 2px;
    display: inline-block;
}
.single_widget li a i{
    padding-right: 5px;
}
.single_widget a.weblink{
    font-size:0.875rem;
    color:#223d61;
}

.footer_gellary img{
    margin-right: 10px;
    margin-bottom: 10px;
}

/*footer section*/
.footer{
    background: #f1eee6;
}

.main_footer{
    border-top:1px solid #ddd;
}
.copyright_text p{
    color:#aaa79e;
    font-size:0.8125rem;
    line-height: 25px;
    padding:40px;
    max-width: 100%;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}
.copyright_text p a{
    padding:0px 10px;
    color:#5e9a28;
}

.footer_socail{
    padding:40px; 
    text-align: right;
}
.footer_socail a i{
    font-size:0.8125rem;
    color:#aaa79e;
    padding: 0px 10px;
}

/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #223d61;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}














/*Home Pages Style tow*/

.video{
    background: url(../images/newsfourbg.jpg) no-repeat 100% 100%;
    background-size: cover;
}

.video .head_title {
    color:#fff;  
}
.video .head_title i{
    font-size:3rem;   
}
.video .head_title h4{
    font-size:1.625rem;
    margin-top:50px;  
}
.video .single_video{
    margin-top:20px; 
}

/*pepper section css*/

.pepper{
    background: #f1eee7;
}
.pepper .single_pepper{
    width:60%;
    margin:0 auto;
    margin-top:60px;
}
.pepper .single_pepper p{
    font-size:0.875rem;
    color:#797979;
}
.pepper .single_pepper_right img{
    width:100%;
    height: 630px;
}


/*team section css*/
.team{}
.team .head_title{
    color:#223d61;
}
.team .single_team{}
.team .single_item{
    position: relative;
    max-width: 100%;
    margin-bottom:30px;
}
.team .single_item img{
    max-width: 100%;
}
.team .single_item:hover .single_team_overlay{
    opacity: 1; 
}

.team .single_item .single_team_overlay{
    background: rgba(94, 154, 40, 0.55);
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    text-align: center;
    padding: 50px 0px 10px 0px;
    transition: .6s;
    opacity: 0;
}
.team .single_item .single_team_overlay h4{
    color:#fff;
    text-transform: uppercase;
}
.team .single_item .single_team_overlay p{
    color:#223d61;
    text-transform: uppercase;
}
.team .single_item .single_team_overlay .team_socail{
    margin-top:50px;
}

.team .single_item .single_team_overlay .team_socail a i{
    color:#fff;
    font-size:1.5rem;
    padding: 0px 5px;
}





/*gellary section css*/
.gellary{}
.gellary .single_gellary_item{
    position: relative;  
    max-width:100%; 
    margin-bottom:30px;
}
.gellary .single_gellary_item img{

}
.gellary .single_gellary_item:hover .gellary_overlay{
    opacity: 1; 
}
.gellary .single_gellary_item .gellary_overlay{
    background: rgba(94, 154, 40, 0.55);
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 70px 0px 0px 0px;
    opacity: 0;
    transition: .6s;

}

.gellary .gellary_overlay i{
    color:#fff;
    font-size: 2.5rem;
}
.gellary .gellary_overlay h4{
    color:#223d61;
    margin-bottom: 10px;
}
.gellary .gellary_overlay p{
    color:#fff;
}

/*contact section css*/
.contact{}
.contact .head_title h2{
    color:#223d61;
}
.contact .form-control {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent; 
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contact .single_contant_left input[type="submit"]{
    width:100%;
}

.contact textarea.form-control {
    height: auto;
}

.contact .single_message_right_info{
    background: #f1eee6;
    display: inline-block;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.single_message_right_info li{
    margin-bottom: 3px;
}
.single_message_right_info li a{
    color: #223d61;
    font-size: 0.8125rem;
    padding-bottom: 2px;
    display: inline-block;
}
.single_message_right_info li a i{
    padding-right: 5px;
}

/*maps section css*/

.map{}
.ourmaps{
    width:100%;
    height: 440px;

}



